<div class="container-fluid padder">
    <div class="row text-center">
        <div class="col moveCenter">
            <a class="" href="https://www.facebook.com/carson.huber.3">
                <i class="fa fa-facebook-f"></i>
            </a>
            |
            <a href="https://www.instagram.com/ecstatic_carson/">
                <i class="fa fa-instagram"></i>
            </a>
            |
            <a href="https://twitter.com/EcstaticCarson">
                <i class="fa fa-twitter"></i>
            </a>
            |
            <a href="https://www.linkedin.com/in/carson-huber-9a2b4014a/">
                <i class="fa fa-linkedin"></i>
            </a>
            <h5 class="text-center footer-text"><i class="fa fa-copyright"></i> 2020 Carson Huber</h5>
        </div>
    </div>
</div>