// .side-color{
//     color: #1C2739;
// }

.color-bg{
    background-color: #1C2739;
    color: white;
}

.space-me{
    padding-top: 5rem;
    padding-bottom: 7rem;
}

.middle-space{
    padding-top: 5rem;
    padding-right: 4rem;
}