#hero {
    background-image: url('/assets/images/portfolioPic.jpg');
    height: 100vh;
    background-size: cover;
}
.words-center{
    display: flex;
    justify-content: center;
    padding-top: 5rem;
    color: black;
}