<div id="hero">
    <div class="container pt-5">
        <div class="row space-out">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title text-center">Hamster Hotel</h5>
                    <p class="card-text text-center">A project that helped build up my JavaScript and C# skills.
                        Would recommend to anyone who's starting JavaScript and CSS.
                    </p>
                    <a href="../Projects/HamsterHotel" class="btn btn-primary d-flex justify-content-center">
                        Click Here to See</a>
                </div>
            </div>


            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title text-center">Weather API</h5>
                    <p class="card-text text-center"> A Weather Application made through C# and JavaScript.
                        Helps build up anyone's API Keys skills for beginners.
                    </p>
                    <a href="../Projects/WeatherAPI" class="btn btn-primary d-flex justify-content-center">
                        Click Here to See</a>
                </div>
            </div>


            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title text-center">Trivia</h5>
                    <p class="card-text text-center">(At the time) My hardest, passionate, and, yet, exciting
                        project I had time to work on. Learned lots on JSON.
                    </p>
                    <a href="../Projects/Trivia" class="btn btn-primary d-flex justify-content-center">
                        Click Here to See</a>
                </div>
            </div>

        </div>

        <div class="row space-out pt-4">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title text-center">Puppy Restaurant</h5>
                    <p class="card-text text-center">A group project in which me and my group and fun making.
                        Would recommend to work on for anyone who's new to coding.
                    </p>
                    <a href="../Projects/PuppyRestaurant" class="btn btn-primary d-flex justify-content-center">
                        Click Here to See</a>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title text-center">Business Redevelopment Site</h5>
                    <p class="card-text text-center">A group project that exceptionally went well and helped us
                        coordinate successfully.
                    </p>
                    <a href="../Projects/BusinessReDev" class="btn btn-primary d-flex justify-content-center">
                        Click Here to See</a>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title text-center">Codestack Directory App</h5>
                    <p class="card-text text-center">With C# and JavaScript, I built a student directory as an
                        assignment. Would love to work on again.
                    </p>
                    <a href="../Projects/CodestackDirectory" class="btn btn-primary d-flex justify-content-center">
                        Click Here to See</a>
                </div>
            </div>
        </div>

        <div class="row space-out pt-4">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title text-center">Deal or No Deal</h5>
                    <p class="card-text text-center">A fun project built on C# completely based on the TV show, 
                        Deal Or No Deal.</p>
                    <a href="../Projects/DealOrNoDeal" class="btn btn-primary d-flex justify-content-center">
                        Click Here to See</a>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title text-center">Hangman</h5>
                    <p class="card-text text-center">A C# project built with music, and based off the
                        known game: "Hangman".
                    </p>
                    <a href="../Projects/Hangman" class="btn btn-primary d-flex justify-content-center">
                        Click Here to See</a>
                </div>
            </div>
        </div>




    </div>

</div>