<div class="container-fluid color-choice">
    <div class="row spacing-title">
        <h1>
            About Me:
        </h1>
    </div>
    <div class="row skill-space">
        <div class="col-12">
            <h3>My Skillsets:</h3>
            <li class="fontGrowth">C#</li>
            <li class="fontGrowth">JavaScript</li>
            <li class="fontGrowth">Angular</li>
            <li class="fontGrowth">Unity</li>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <p class="fontGrowth">
                My name is Carson Huber, and I'm an aspiring web designer.
                <br>
                While fairly new to this field of programming, I've been eager to learn more in the world of programmers
                and aspire to become a successful programmer through game designing, web designing, and programming.
                Currently a student in Codestack Academy, I've gone through the rigorous training to learn C#,
                JavaScript,
                Angular, and, on my own time, C++.
                <br>
                The programs I have developed and built during my time in Codestack Academy are reminders to me as to
                how
                far I've come from being a beginner in this new and awe-inspiring field, to how I view myself as an
                a growing and ecstatic student trying to grow and learn more programming skills.
                <br>
                I'm hoping to get into the game-designing world, I am always eager and willing to work for a company
                who's
                eager to have me. I am open to the idea of being a free-lancer and will always expect to meet the goals
                of my customers and partners.
                <br>
                My most recent and current design that I'm working on is my WebStore that focuses mainly on cosplay.
                While a challenge, I am still learning how to grow and use my store effectively and, overtime, create
                it to be satisfactory for myself and for anyone who looks at it.
                <br>
                If I seem like a person that you seem interested in bringing into your team, please feel free to contact
                me through the information provided below.
                <br>

                <a class="contact-space" routerLink="/contact" routerLinkActive="active">
                    <button class="btn btn-link color-contact">Contact Form</button>
                </a>
            </p>
        </div>
    </div>
</div>