.color-choice{
    background-color:#1C2739;
    color: white;
}

.fontGrowth{
    font-size: 24px;
    line-break: auto;
    padding-left: 5rem;
    padding-right: 5rem;
}

// .contact-color{
//     color: white;
//     text-underline-position: below;
// }

.spacing-title{
    padding-top: 6rem;
    padding-left: 10rem;
    padding-bottom: 4rem;
}

.contact-space{
    display: flex;
    padding-top: 2rem;
    padding-left: 9rem;
}

.skill-space{
    padding-left: 10rem;
    padding-bottom: 3rem;
}
